/* Reference https://codetheweb.blog/ */

:root {
    --color: #3c3163;
    --transition-time: 0.5s;
  }
  
  
  .card a {
    color: inherit;
  }
  
  
  .cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    padding: 2rem;
    margin: 0 auto;
    width: max-content;
  }
  
  .card {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.5;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    height: 8rem;
    width: 23rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5rem -0.1rem #053250;
    transition: all, var(--transition-time);
    position: static;
    overflow: hidden;
    /* border: 10px solid #ccc; */
    text-decoration: none;
  }
  
  .card:hover {
    transform: rotate(0);
  }
  
  .card h1 {
    
    margin: auto;
    font-size: 3rem;
    padding-left: 4rem;
    padding-bottom: 1.5rem;
    font-weight: 400;
  }
  
  
  .card:before, .card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }
  
  .card:before {
    background: #6DD5FA;
    width: 250%;
    height: 250%;
  }
  
  .card:after {
    background: white;
    width: 200%;
    height: 200%;
  }
  
  .card:hover {
    color: var(--color);
  }
  
  .card:hover:before, .card:hover:after {
    transform: scale(1);
  }
  
  .card-grid-space .num {
    font-size: 3rem;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
  }
  
  
  /* MEDIA QUERIES
  @media screen and (max-width: 1285px) {
    .cards-wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 900px) {
    .cards-wrapper {
      grid-template-columns: 1fr 1fr;
    }
    .info {
      justify-content: center;
    }
    .card-grid-space .num {
      margin-left: 0;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 500px) {
    .cards-wrapper {
      padding: 4rem 2rem;
    }
    .card {
      max-width: calc(100vw - 4rem);
    }
  }
  
  @media screen and (max-width: 450px) {
    .info {
      display: block;
      text-align: center;
    }
    .info h1 {
      margin: 0;
    }
  } */
  